* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.mainBg {
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: #9c835f;
}

.content1 {
    padding: 0;
    margin: 0;
    height: 100px;
    display: flex;
    align-content: center;
    align-items: center;
}

.img1 {
    width: 30px;
    height: fit-content;
}

.img2 {
    width: 110px;
    height: fit-content;
    padding-left: 50px;
}

.teks1 {
    color: #f9b23d;
    font-size: 25px;
    font-weight: bold;
    padding-left: 60px;
    height: fit-content;
}

.teks2 {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
    padding-left: 60px;
    height: fit-content;
}

.teks3 {
    font-size: 80px;
    font-weight: bold;
    color: #bd0000;
    text-align: center;
    justify-content: center;
    
}

